doctype
html
  include chunks/head
body
  include chunks/header
  div.wraper
    .row
      include chunks/sidebar
      .col-tablet-3-4
        include chunks/breakchunksMap
        .pagetitle Контакты
        include chunks/contactsMap
  include chunks/footer