-
  function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
  }
.row.clearfix.col-tablet-1-2  
  a(href="#").product
    .product__img
      img(src="img/products-1.png" alt="")
    .product__text
      |ЦИФРОВАЯ ПЕЧАТЬ
.row.clearfix.col-tablet-1-2  
  a(href="#").product
    .product__img
      img(src="img/products-1.png" alt="")
    .product__text.product__text_orange
      |ЦИФРОВАЯ ПЕЧАТЬ
.row.clearfix.col-tablet-1-2  
  a(href="#").product
    .product__img
      img(src="img/products-1.png" alt="")
    .product__text.product__text_yellow
      |ЦИФРОВАЯ ПЕЧАТЬ

