.footer
  .wraper
    .row
      .logos
        .logos__image
          img(src="img/logos.png" alt="")
      ul.menu-footer
        - var menu_footer = ['Главная','Услуги','Производство ','Новости','Поддержка','Технологии', 'Контакты']
            each item in menu_footer
              li
                a(href='#')=item
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

script(src="js/js.js")




