.news__block
  .news__date 18.08.2014
    .news__image
      .news__content Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену
.news__block
  .news__date 18.08.2014
    .news__image 
      img(src="img/news.png", alt="")
      .news__content Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену. Начал работу новый формный участок на основе CTP AGFA Palladio II, производи тельностью 150 форм в смену 
.news__block
  .news__date 18.08.2014
    .news__image
      .news__content Начал работу новый формный участок на основе CTP AGFA Palladio II, производительностью 150 форм в смену
